<ul>
<% 
@material.errors.full_messages.each do |m|
%>
<li> <%= m %></li> 
<% end %>
</ul>


<p>
<%= f.label :materials_types_id %> </br>
<%= f.collection_select(:materials_types_id, MaterialsType.all, :id , :description)  %>
</p>

<p>
<%= f.label :measure_units_id %> </br>
<%= f.collection_select(:measure_units_id, MeasureUnit.all, :id , :description)  %>
</p>

<p>
<%= f.label :description %> </br>
<%= f.text_field :description %>
</p>
<p>
<%= f.label :quantity %> </br>
<%= f.number_field :quantity, :class => 'text_field', :step => 1  %>
</p>
<p>
<%= f.label :cost %> </br>
<%= f.number_field :cost , :class => 'text_field' %>
</p>

<p>
<%= f.submit "Enviar" %>
</p>