<div class="container-fluid">

	<h1 align="center">Materiales</h1>
	<div class="boton_redirect">
	<%= link_to 'Ir a Proveedores', provider_index_path%> &rarr;
</div><br>
<div class="boton_redirect">
	<%= link_to 'Ir a la Lista de Compras', purchase_index_path%> &rarr;
</div><br>
<div class="boton_redirect">
	<%= link_to 'Ir a Tablones', utility_index_path%> &rarr;
</div><br>
<table class="table table-hover">
	  <thead class="thead-dark">
	<tr><TH>ID</TH>
		<TH>Tipo de Material</TH>
		<TH>Unidad de Medida</TH>
		<TH>Descripción</TH>
		<TH>Cantidad</TH>
		<TH>Costo</TH>


		<TH colspan="2"><%= link_to 'Nuevo', material_new_path , class:"btn btn-success"%></TH></tr>
</thead>
	<tbody>
	<% @materials.each do |f| %>

	<tr><TD><%= f.id %></TD>
		<TD><%= f.materials_type.description %></TD>
		<TD><%= f.measure_unit.description%></TD>
		<TD><%= f.description %></TD>
		<TD><%= f.quantity %></TD>
		<TD><%= f.cost %></TD>


		<TD><%= link_to 'Editar', material_edit_path(f['id']) , class:"btn btn-link"%></TD><TD>
<%= link_to 'Borrar', { :action => :destroy, :id => f.id }, :method => :delete, :data => { :confirm => 'Desea borrar el registro?' } , class:"btn btn-danger"%>
		</TD>
	</tr>
    <% end %>
    </tbody>

</table>
</div>
