<div class="container-fluid">

<div class="boton_redirect">&larr;
  <%= link_to 'Es todo, volver al Presupuesto del pedido', budget_for_order_path(params[:budget_for_order])%>
</div><br>
<ul>
<%
@budget.errors.full_messages.each do |m|
%>
<li> <%= m %></li>
<% end %>
</ul>

 <div class="row">
  <div class="col-sm-4 ">
    <p >
<%= f.label :Mueble %> </br>
<%= f.collection_select(:furniture_id, Furniture.all, :id , :description, class:"form-control")  %>

  </p>
  <p >
<%= f.label "Presupuesto para pedido" %> </br>
<%= f.text_field :budget_for_order_id, class: "form-control", :required => true%>
  </p>
  </div>
  <div class="col-sm-4 ">
  	<p >
<%= f.label :Observación %> </br>
<%= f.text_field :observation , class: "form-control", :required => true%>
	</p>
	<p>
<%= f.label :Cantidad %> </br>
<%= f.text_field :quantity , class:"form-control", :required => true%>
</p>

  </div>


</div>

<p>
    <div class="col-sm-8 ">
<%= f.submit "Enviar" , class:"btn btn-primary form-control " %>
</p>
</div>
</div>
