<div class="container-fluid">
<div class="enter">

<div class="boton_redirect">&larr;
	<%= link_to 'Es todo, volver a la Compra', purchase_show_path(params[:purchase])%>
</div><br>

<ul>
<%
@u_purchase_detail.errors.full_messages.each do |m|
%>
<li> <%= m %></li>
<% end %>
</ul>
<p>
		<% if params[:purchase]==nil && params[:id]==nil%>
			<%= f.label "Nro de compra" %> </br>
			<%= f.collection_select :purchase_id, Purchase.all, :id, :id %>
		<% else%>
			<%= f.label "Nro de compra" %> </br>
			<%= @u_purchase_detail.purchase_id%>
			<%= f.hidden_field :purchase_id %>
		<% end%>

	</p>
<p>
<%= f.label "Material" %> </br>
<%= f.collection_select :utilities_type_id, UtilitiesType.all, :id, :description %>
</p>

<p>
<%= f.label "Cantidad" %> </br>
<%= f.text_field :quantity, class:"form-control" , :required => true%>
</p>
<p>
	<%= f.label :ancho %>
	<%= f.text_field :width, :class => 'text_field', :step => 0.5, class:"form-control", :required => true %>
</p>
<p>
	<%= f.label :alto %>
	<%= f.text_field :high, :class => 'text_field', :step => 0.5 , class:"form-control", :required => true %>
</p>
	<p>
	<%= f.label :espesor %>
	<%= f.text_field :thickness, :class => 'text_field', :step => 0.5 , class:"form-control", :required => true %>
</p>
<p>
	<%= f.label :costo %>
	<%= f.text_field :cost, :step => 0.5 , class:"form-control", :required => true %>
</p>

<!--p>
<%= f.label "Subtotal" %> </br>
<%= f.text_field :subtotal, class:"form-control" %>
</p-->
<p>
	<%= f.label :Observación %>
	<%= f.text_field :observation , class:"form-control" %>
</p>
<p>
<%= f.submit "Enviar", class:"form-control btn btn-primary" %>
</p>
</div>
</div>
