<ul>
<% 
@u_purchase_detail.errors.full_messages.each do |m|
%>
<li> <%= m %></li> 
<% end %>
</ul>
	
<p>
<%= f.label "Compra id" %> </br>
<%= f.text_field :purchase_id %>
</p>
<p>
<%= f.label "Material" %> </br>
<%= f.text_field :utility_id %>
</p>

<p>
<%= f.label "Cantidad" %> </br>
<%= f.text_field :quantity %>
</p>
<p>
	<%= e.label :width %>
	<%= e.number_field :width, :class => 'text_field', :step => 0.5 %>
</p>
<p>
	<%= e.label :high %>
	<%= e.number_field :high, :class => 'text_field', :step => 0.5 %>
</p>
	<p>
	<%= e.label :thickness %>
	<%= e.number_field :thickness, :class => 'text_field', :step => 0.5 %>
</p>
<p>
	<%= e.label :cost %>
	<%= e.number_field :cost, :class => 'text_field', :step => 0.5 %>
</p>

<!--p>
<%= f.label "Subtotal" %> </br>
<%= f.text_field :subtotal %>
</p-->

<p>
<%= f.submit "Enviar" %>
</p>