<div class="boton_redirect">&larr;
	<%= link_to 'Es todo, volver a la Compra', purchase_show_path(params[:purchase])%> 
</div><br>

<ul>
<% 
@u_purchase_detail.errors.full_messages.each do |m|
%>
<li> <%= m %></li> 
<% end %>
</ul>
	
<p>
<%= f.label "Compra id" %> </br>
<%= f.text_field :purchase_id %>
</p>
<p>
<%= f.label "Material" %> </br>
<%= f.text_field :utilities_type_id %>
</p>

<p>
<%= f.label "Cantidad" %> </br>
<%= f.text_field :quantity %>
</p>
<p>
	<%= f.label :width %>
	<%= f.number_field :width, :class => 'text_field', :step => 0.5 %>
</p>
<p>
	<%= f.label :high %>
	<%= f.number_field :high, :class => 'text_field', :step => 0.5 %>
</p>
	<p>
	<%= f.label :thickness %>
	<%= f.number_field :thickness, :class => 'text_field', :step => 0.5 %>
</p>
<p>
	<%= f.label :cost %>
	<%= f.number_field :cost, :class => 'text_field', :step => 0.5 %>
</p>

<!--p>
<%= f.label "Subtotal" %> </br>
<%= f.text_field :subtotal %>
</p-->
<p>
	<%= f.label :Observation %>
	<%= f.text_field :observation %>
</p>
<p>
<%= f.submit "Enviar" %>
</p>