<div class="container-fluid">


<div class="boton_redirect">&larr;
  <%= link_to 'Volver a la lista de presupuesto', budget_for_orders_path%>
</div><br>
<%= form_with(model: budget_for_order, local: true) do |form| %>
  <% if budget_for_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget_for_order.errors.count, "error") %> prohibited this budget_for_order from being saved:</h2>

      <ul>
      <% budget_for_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--div class="field">
    <% form.label :total %>
    <% form.text_field :total, class: "form-control" %>
  </div-->
  <div class="field">
    <%= form.label :cliente %>
    <%= form.collection_select(:customer_id, Customer.all, :id , :name , class: "form-control")  %>
  </div>
  <div class="field">
    <%= form.label :observación %>
    <%= form.text_area :observation , class: "form-control", :required => true%>
  </div>

  <div class="actions">
    <br>
    <%= form.submit "Crear presupuesto por pedido", class: "btn btn-primary form-contol"%>
  </div>
<% end %>
</div>
