<div class="boton_redirect">&larr;
  <%= link_to 'Volver a la lista de presupuesto', budget_for_orders_path%> 
</div><br>
<%= form_with(model: budget_for_order, local: true) do |form| %>
  <% if budget_for_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget_for_order.errors.count, "error") %> prohibited this budget_for_order from being saved:</h2>

      <ul>
      <% budget_for_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--div class="field">
    <% form.label :total %>
    <% form.text_field :total %>
  </div-->
  <div class="field">
    <%= form.label :customer_id %>
    <%= form.collection_select(:customer_id, Customer.all, :id , :name)  %>
  </div>
  <div class="field">
    <%= form.label :observation %>
    <%= form.text_area :observation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
