<p id="notice"><%= notice %></p>

<h1 align="center">Presupuestos</h1>
<div class="boton_redirect">
  <%= link_to 'Ir a la lista de muebles', furniture_index_path%> &rarr;
</div><br>
<div class="boton_redirect">
  <%= link_to 'Ir a Pedidos', order_index_path%> &rarr;
</div><br>
<table class="style_table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Fecha</th>
      <th>Total</th>
      <th>Observation</th>
      <th>Cliente</th>
      <th colspan="4"><%= link_to 'Nuevo', new_budget_for_order_path %></th>
    </tr>
  </thead>

  <tbody>
    <% @budget_for_orders.each do |budget_for_order| %>
      <tr>
        <td><%= budget_for_order.id %></td>
        <td><%= budget_for_order.created_at.strftime("%Y/%m/%d") %></td>
        <td><%= budget_for_order.total %></td>
        <td><%= budget_for_order.observation %></td>
        <td><%= budget_for_order.customer_id %></td>
        <td><%= link_to 'A Pedidos', order_new_add_path(budget_for_order['id']) %></td>
        <td><%= link_to 'Detalles', budget_for_order %></td>
        <td><%= link_to 'Editar', edit_budget_for_order_path(budget_for_order) %></td>
        <td><%= link_to 'Borrar', budget_for_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


