<ul>
<%
@provider.errors.full_messages.each do |m|
%>
<li> <%= m %></li>
<% end %>
</ul>

<p>
<%= f.label :Nombre %> </br>
<%= f.text_field :name %>
</p>
<p>
<%= f.label :Dirección %> </br>
<%= f.text_field :address %>
</p>
<p>
<%= f.label :Teléfono %> </br>
<%= f.text_field :telephone %>
</p>

<p>
<%= f.label :"Documento-"%>RUC  </br>
<%= f.text_field :document, size: "13"%>
<%= f.label :" - " %>
<%= f.text_field :ruc, size: "1" %>
</p>
<p>
<%= f.submit "Enviar" %>
</p>
