<h1 align="center">Lista de personal</h1>
<div class="boton_redirect">
	<%= link_to 'Ir a Salarios', salary_index_path%> &rarr;
</div><br>
<div class="boton_redirect">
	<%= link_to 'Ir a Asistencia', hours_history_index_path%> &rarr;
</div><br>
<div class="boton_redirect">
	<%= link_to 'Ir a pago al personal', employee_payment_index_path%> &rarr;
</div><br>
<%=form_tag employee_index_path, :method => 'get', :style => 'padding-left:10em;' do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Buscar" %>
<%end%>
<table class="style_table">
	  <thead class="thead-dark">
	<tr><TH>ID</TH>
		<TH>Nombres</TH>
		<TH>Apellidos</TH>
		<TH>Teléfono</TH>
		<TH>Especialidad</TH>
		<TH>Estado</TH>
		
		<TH colspan="4"><%= link_to 'Nuevo', employee_new_path %></TH></tr>
</thead>
	<tbody>
	<% @employees.each do |f| %>

	<tr><TD><%= f.id %></TD>
		<TD><%= f.name %></TD>
		<TD><%= f.lastname %></TD>
		<!--TD><%= f.address %></TD-->
		<TD><%= f.telephone %></TD>
		
		<TD><%= f.speciality %></TD>
		<TD><%= f.status %></TD>
		<TD><%= link_to 'Detalles', employee_edit_path(f['id']) %></TD>
		<TD><%= link_to 'Cargar Asistencia', hours_history_new_add_path(f['id']) %></TD>
		<TD><%= link_to 'Editar', employee_edit_path(f['id']) %></TD><TD>
<%= link_to 'Borrar', { :action => :destroy, :id => f.id }, :method => :delete, :data => { :confirm => 'Desea borrar el registro?' } %>
		</TD>
	</tr>
    <% end %>
    </tbody>

</table>
