<div class="container-fluid">

<h1 align="center">Lista de personal</h1>
<div class="boton_redirect">
	<%= link_to 'Ir a Salarios', salary_index_path%> &rarr;
</div><br>
<div class="boton_redirect">
	<%= link_to 'Ir a Asistencia', hours_history_index_path%> &rarr;
</div><br>
<div class="boton_redirect">
	<%= link_to 'Ir a pago al personal', employee_payment_index_path%> &rarr;
</div><br>

<%=form_tag employee_index_path, :method => 'get', :style => 'padding-left:4em;font-family:bold;' do %>
	<%= label_tag "Filtrar"%>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Buscar", class:"btn btn-primary" %>
<%end%>
<table class="table table-hover">
	  <thead class="thead-dark">
	<tr><TH>ID</TH>
		<TH>Nombres</TH>
		<TH>Apellidos</TH>
		<TH>Teléfono</TH>
		<TH>Especialidad</TH>
		<TH>Estado</TH>

		<TH colspan="4"><%= link_to 'Nuevo', employee_new_path , class: "btn btn-success"%></TH></tr>
</thead>
	<tbody>
	<% @employees.each do |f| %>

	

	<tr><TD><%= f.id %></TD>
		<TD><%= f.name %></TD>
		<TD><%= f.lastname %></TD>
		<!--TD><%= f.address %></TD-->
		<TD><%= f.telephone %></TD>

		<TD><%= f.speciality %></TD>
		<TD><%= f.status %></TD>
		<TD><%= link_to 'Detalles', employee_show_path(f['id']), class: "btn btn-link" %></TD>
			<%if f.status=="ACTIVO"%>			
		<TD><%= link_to 'Cargar Asistencia', hours_history_new_add_path(f['id']) , class: "btn btn-link"%></TD>
			<%else%>
			<TD>Cargar Asistencia</TD>	
			<%end%>	
		<TD><%= link_to 'Editar', employee_edit_path(f['id']), class: "btn btn-link" %></TD><TD>
 <%= link_to 'Borrar', { :action => :destroy, :id => f.id }, :method => :delete, :data => { :confirm => 'Desea borrar el registro?' } , class: "btn btn-danger"%>
		</TD>
	</tr>
    <% end %>
    </tbody>

</table>
<br>
<footer>
<div class="boton_redirect">
	<%= render partial: 'shared/pagination', locals: { pagy: @pagy } %>
</div><br>
</footer>
</div>
