<div class="container-fluid">

<h1 align="center">Pago a Empleados</h1>
<div class="boton_redirect">&larr;
	<%= link_to 'Volver a la lista de personal', employee_index_path%>
</div><br>
<div class="boton_redirect">&larr;
	<%= link_to 'Volver a la lista de salarios', salary_index_path%>
</div><br>
<div class="boton_redirect">
	<%= link_to 'Ir a Asistencia', hours_history_index_path%> &rarr;
</div><br>

<table class="table table-hover">
	  <thead class="thead-dark">
	<tr>
		<TH>ID</TH>
		<TH>Personal</TH>
		<TH>ID Salario</TH>
		<TH>Importe</TH>
		<TH>Saldo</TH>
		<TH>Fecha</TH>

		<TH colspan="2"><%= link_to 'Nuevo', employee_payment_new_path , class: "btn btn-success"%></TH></tr>
</thead>
	<tbody>
	<% @employee_payments.each do |f| %>

	<tr><TD><%= f.id %></TD>
		<TD><%= f.salary.employee.lastname %></TD>
		<TD><%= f.salary_id %></TD>
		<TD><%= f.amount %></TD>
		<TD><%= f.balance %></TD>
		<TD><%= f.created_at.strftime("%Y/%m/%d") %></TD>


		<TD><%= link_to 'Editar', employee_payment_edit_path(f['id']) , class:"btn btn-link"%></TD><TD>
<%= link_to 'Borrar', { :action => :destroy, :id => f.id }, :method => :delete, :data => { :confirm => 'Desea borrar el registro?' }, class:"btn btn-danger" %>
		</TD>
	</tr>
    <% end %>
    </tbody>

</table>
</div>
