<div class="container-fluid">
	<div class="enter">


<div class="boton_redirect">&larr;
	<%= link_to 'Volver a la lista de compras', purchase_index_path%>
</div><br>
<ul>
<%
@purchase.errors.full_messages.each do |m|
%>
<li> <%= m %></li>
<% end %>
</ul>
<p>
<%= f.label "ID Proveedor" %> </br>
<%= f.collection_select :provider_id, Provider.order(:name), :id, :name %>
</p>
<p>
<%= f.label "Fecha" %> </br>
<%= f.date_field :purchase_date %>
</p>
<p>
<%= f.label "Importe" %> </br>
<%= f.text_field :amount, class:"form-control" %>
</p>
<p>
<%= f.submit "Enviar" , class:"form-control btn btn-primary"%>
</p>
</div>
</div>
