	<h1 align="center">Compras</h1>
	<div class="boton_redirect">
	<%= link_to 'Ir a Proveedores', provider_index_path%> &rarr;
</div><br>
<div class="boton_redirect">
	<%= link_to 'Ir a Materiales', material_index_path%> &rarr;
</div><br>
<div class="boton_redirect">
	<%= link_to 'Ir a Tablones', utility_index_path%> &rarr;
</div><br>


<table class="style_table">
	  <thead class="thead-dark">
	<tr><TH>ID</TH>
		<TH>Proveedor</TH>
		<TH>Fecha</TH>
		<TH>Total</TH>
		<TH>Importe</TH>
		<TH>Saldo</TH>
		<TH colspan="3"><%= link_to 'Nuevo', purchase_new_path %></TH></tr>
</thead>
	<tbody>
	<% @purchases.each do |f| %>

	<tr><TD><%= f.id %></TD>
		<TD><%= f.provider.name %></TD>
		<TD><%= f.purchase_date %> </TD>
		<TD><%= f.total %></TD>
		<TD><%= f.amount %></TD>
		<TD><%= f.balance%></TD>
		<TD><%= link_to 'Ver Detalles', purchase_show_path(f['id']) %></TD>
		<TD><%= link_to 'Editar', purchase_edit_path(f['id']) %></TD><TD>
<%= link_to 'Borrar', { :action => :destroy, :id => f.id }, :method => :delete, :data => { :confirm => 'Desea borrar el registro?' } %>
		</TD>
	</tr>
    <% end %>
    </tbody>

</table>
<div class="boton_redirect">
	<%= render partial: 'shared/pagination', locals: { pagy: @pagy } %>
</div><br>

