<%= form_with(model: utility, local: true) do |form| %>
  <% if utility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(utility.errors.count, "error") %> prohibited this utility from being saved:</h2>

      <ul>
      <% utility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
