<p id="notice"><%= notice %></p>

	<h1 align="center">Utilidades</h1>

<table>
  <thead>
    <tr>
      <th>Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utilities.each do |utility| %>
      <tr>
        <td><%= utility.description %></td>
        <td><%= link_to 'Show', utility %></td>
        <td><%= link_to 'Edit', edit_utility_path(utility) %></td>
        <td><%= link_to 'Destroy', utility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Utility', new_utility_path %>
