<div class="container-fluid">
<div class="enter">

<div class="boton_redirect">&larr;
	<%= link_to 'Volver a Lista de Tablones', utility_index_path%>
</div><br>

<ul>
<%
@utility.errors.full_messages.each do |m|

%>
<li> <%= m %></li>
<% end %>
</ul>

<p>
<%= e.label :tipo_utilidad %> </br>
<%= e.collection_select(:utilities_type_id, UtilitiesType.all, :id , :description)  %>
<!--%= e.text_field :utilities_type_id %-->
<div class="boton_redirect">&larr;
	<%= link_to 'Nuevo tipo de tablon', new_utilities_type_path%>
</div><br>
</p>
<p>
<%= e.label :cantidad %> </br>
<%= e.text_field :quantity  , class:"form-control" %>
</p>
<p>
	<%= e.label :ancho %>
	<%= e.number_field :width, :class => 'text_field', :step => 0.5 , class:"form-control" %> cm
<p>
<p>
	<%= e.label :alto %>
	<%= e.number_field :high, :class => 'text_field', :step => 0.5 , class:"form-control" %> cm
<p>
	<p>
	<%= e.label :espesor %>
	<%= e.number_field :thickness, :class => 'text_field', :step => 0.5 , class:"form-control" %> pulgadas
<p>
	<p>
	<%= e.label :costo %>
	<%= e.number_field :cost, :class => 'text_field', :step => 0.5 , class:"form-control" %> 
	<p>
	<p>
	<%= e.label :observación %> </br>
	<%= e.text_field :observation , class:"form-control" %>
	</p>
<%= e.submit "Enviar", class: 'btn btn-primary form-control' %>
</p>
</div>
</div>
