<div class="container-fluid">
	<div class="enter">

<div class="boton_redirect">&larr;
	<%= link_to 'Volver a Lista de muebles', furniture_index_path%>
</div><br>
<ul>
<%
@utilities_for_furniture.errors.full_messages.each do |m|

%>
<li> <%= m %></li>
<% end %>
</ul>

<p>
<%= e.label :"Utilidad" %> </br>
<%= e.collection_select(:utility_id, Utility.all, :id , :observation)  %>
</p>
<p>
<%= e.label :"Mueble" %> </br>
<%= e.collection_select(:furniture_id, Furniture.all, :id , :description)  %>
</p>

<p>
	<%= e.label :Cantidad %>
	<%= e.number_field :quantity, :class => 'text_field', :step => 0.5, class:"form-control" %>
</p>
	<!--p>
	<%= e.label :Costo %>
	<%= e.number_field :cost, :class => 'text_field', :step => 0.5 , class:"form-control"%>
</p-->

<p>
<%= e.submit "Enviar", class: 'btn btn-primary form-control' %>
</p>
</div>
</div>
