<!-- para mostrar errores -->
<div class="container">
<div class="enter">

<div class="boton_redirect">&larr;
  <%= link_to 'Volver a Lista de clientes', customer_index_path%>
</div><br>
<ul  >
<%
@customer.errors.full_messages.each do |m|
%>
<li> <%= m %></li>
<% end %>
</ul>


<!-- formulario -->

  	<p >
<%= f.label :Nombres %> </br>
<%= f.text_field :name, class: "form-control" %>
	</p>
	<p>
<%= f.label :Apellidos %> </br>
<%= f.text_field :lastname, class: "form-control" %>
</p>


<%= f.label :Teléfono %> </br>
<%= f.text_field :telephone , class: "form-control"%>

	<p>
<%= f.label :Dirección%> </br>
<%= f.text_field :address, class: "form-control" %>
</p>



<p>
<%= f.label :"Documento -"%> RUC  </br>
<%= f.text_field :document, size: "13"%>
<%= f.label :" - " %>
<%= f.number_field :ruc, size: "1" %>
</p>
<p>
<%= f.label :Observaciones %> </br>
<%= f.text_area :observation , class: "form-control"%>
</p>


  <p>
  <%= f.submit "Enviar" , class: 'btn btn-primary mb-2 form-control' %>
  </p>
</div>

</div>
</div>
