<div class="container-fluid">
  <div class="enter">


<div class="boton_redirect">&larr;
  <%= link_to 'Volver a Lista de tablones', utility_index_path%>
</div><br>
<%= form_with(model: utilities_type, local: true) do |form| %>
  <% if utilities_type.errors.any? %>
    <div id="error_explanation">
      

      <ul>
      <% utilities_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Descripción %>
    <%= form.text_field :description , class:"form-control", :required => true%>
  </div>
<br>
  <div class="actions">
    <%= form.submit "Crear Tipo de Utilidad", class:"form-control btn btn-primary"%>
  </div>
<% end %>
</div>
</div>
