<p id="notice"><%= notice %></p>

<h1>Utilities Types</h1>

<table class="style_table">
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utilities_types.each do |utilities_type| %>
      <tr>
        <td><%= utilities_type.description %></td>
        <td><%= link_to 'Show', utilities_type %></td>
        <td><%= link_to 'Edit', edit_utilities_type_path(utilities_type) %></td>
        <td><%= link_to 'Destroy', utilities_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Utilities Type', new_utilities_type_path %>
