<!DOCTYPE html>
<html>
  <head>
    <title>Carpinteria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     
  </head>

  <body>
    <header>
      <div>
        <div class='titulo'>Sistema de gestión para una Carpinteria</div>
        <div class="parrafo">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %> 
      </div>
      
    </header>
    <div class="content">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    </div>
   <aside>
     <ul class="menu">
  <li>
    <a href="#">Personal</a>
    <ul>
      <li>
        <%= link_to 'Lista', employee_index_path %>
      </li>
      <li>
        <%= link_to 'Asistencia', hours_history_index_path %>
      </li>
      <li>
        <%= link_to 'Salario', salary_index_path %>
      </li>
      <li>
        <%= link_to 'Pagos', employee_payment_index_path %>
      </li>
    </ul>
  </li>
  <li>
    <a href="#">Compras</a>
    <ul>
      <li>
        <%= link_to 'Lista', purchase_index_path %>
      </li>
      <li>
        <%= link_to 'Proveedores', provider_index_path %>
      </li>
      <li>
        <%= link_to 'Materiales', material_index_path %>
      </li>
      <li>
        <%= link_to 'Tablones', utility_index_path %>
      </li>
      
    </ul>
  <li>
  <li>
    <a href="#">Presupuestos</a>
    <ul>
      <li>
        <%= link_to 'Por pedidos', budget_for_orders_path %>
      </li>
      <li>
        <%= link_to 'Muebles', furniture_index_path %>
      </li>
    </ul>
  <li>
  <li>
    <a href="#">Ventas</a>
    <ul>
      <li>
        <%= link_to 'Lista', sale_index_path %>
      </li>
      <li>
        <%= link_to 'Clientes', customer_index_path %>
      </li>
      <li>
        <%= link_to 'Pedidos', order_index_path %>
      </li>
    </ul>
  <li>
    <a href="#">Reportes</a>
    <ul>
      <li>
        <%=link_to('Compras', purchase_index_path(format: :pdf)) %>
      </li>
      <li>
        <%=link_to('Pagos de Personal', salary_index_path(format: :pdf)) %>
      </li>
      <li>
        <%=link_to('Ventas', sale_index_path(format: :pdf)) %>
      </li>
    </ul>
  </li>
</ul>

   </aside>
   <div class="artic">
    <%= yield %>
    </div>
   
  </body>
</html>
