<div class="container-fluid">
	<div class="enter">


 <div class="boton_redirect">&larr;
	 <%= link_to 'Volver a Lista de muebles', furniture_index_path%>
</div><br>
<br>
<ul>
<%
@material_for_furniture.errors.full_messages.each do |m|
%>
<li> <%= m %></li>
<% end %>
</ul>


<p>
<%= f.label :ID_Material %> </br>
<%= f.collection_select(:material_id, Material.all, :id , :description)  %>
</p>

<p>
<%= f.label :ID_Mueble %> </br>
<%= f.collection_select(:furniture_id, Furniture.all, :id , :description)  %>
</p>

<p>
<%= f.label :Cantidad %> </br>
<%= f.number_field :quantity, :class => 'text_field', :step => 1 , class:"form-control", :required => true %>
</p>
<!--p>
<% f.label :Costo %> </br>
<% f.number_field :cost , :class => 'text_field', class:"form-control" %>
</p-->

<p>
<%= f.submit "Enviar", class:"form-control btn btn-primary" %>
</p>
</div>
</div>
