<div class="container-fluid">

	<h1 align="center">Materiales de los Muebles</h1>
<table class="table table-hover">
	  <thead class="thead-dark">
	<tr><TH>Id Material</TH>
		<TH>Id Mueble</TH>
		<TH>Cantidad</TH>
		<TH>Costo</TH>
		<TH>Sub-Total</TH>


		<TH colspan="2"><%= link_to 'Nuevo', material_for_furniture_new_path , class: "btn btn-success"%></TH></tr>
</thead>
	<tbody>
	<% @material_for_furnitures.each do |f| %>

	<tr><TD><%= f.material_id %></TD>
		<TD><%= f.furniture_id%></TD>
		<TD><%= f.quantity %></TD>
		<TD><%= f.cost %></TD>
		<TD><%= f.subtotal %></TD>

		<TD><%= link_to 'Editar', material_for_furniture_edit_path(f['id']), class:"btn btn-link" %></TD><TD>
<%= link_to 'Borrar', { :action => :destroy, :id => f.id }, :method => :delete, :data => { :confirm => 'Desea borrar el registro?' }, class:"btn btn-danger" %>
		</TD>
	</tr>
    <% end %>
    </tbody>

</table>
</div>
