<p id="notice"><%= notice %></p>
<div class="boton_redirect">&larr;
	<%= link_to 'Volver a Lista de ventas', sale_index_path%> 
</div><br>
<p>
  <strong>Estado de la venta</strong>
  <%= @sale.status %>
	<strong>Codigo</strong>
  <%= @sale.id %>
  <strong>Cliente:</strong>
  <%= @sale.customer.name %>
  <strong>Nro. del pedido:</strong>
  <%= @sale.order %>
  <strong>Fecha:</strong>
  <%= @sale.created_at %>
  <strong>Total:</strong>
  <%= @sale.total %>
  <strong>Importe:</strong>
  <%= @sale.amount %>
  <strong>Saldo:</strong>
  <%= @sale.balance %>
</p>
<h1>Pagos de las ventas</h1>
<table class="style_table">
    <thead class="thead-dark">
  <tr><TH>ID</TH>
    <TH>Cliente</TH>
    <TH>Nro de venta</TH>
    <TH>Importe</TH>
    <TH>Saldo</TH>
    <TH>Fecha</TH>
    <TH colspan="2"><%= link_to 'Nuevo', sales_charge_new_path %></TH></tr>
</thead>
  <tbody>
  <% @sales_charges.each do |f| %>
  
  <tr><TD><%= f.id %></TD>
    <TD><%= f.customer.lastname %>, <%= f.customer.name %> </TD>
    <TD><%= f.sale_id %></TD>
    <TD><%= f.amount %></TD>
    <TD><%= f.balance%></TD>
    <TD><%= f.created_at.strftime("%Y/%m/%d")%></TD>
      
    
    <TD><%= link_to 'Editar', sales_charge_edit_s_path(f['sale_id'], f['id'])%></TD><TD>
      <%= link_to 'Borrar', sales_charge_destroy_path(f['id']), :method => :delete, :data => { :confirm => 'Desea borrar el registro?' } %>
    </TD>
  </tr>
    <% end %>
    </tbody>

</table>