<div class="boton_redirect">&larr;
	<%= link_to 'Volver a Lista de pedidos', order_index_path%> 
</div><br>
<ul>
<% 
@order.errors.full_messages.each do |m|
%>
<li> <%= m %></li> 
<% end %>
</ul>
<p>
<%= f.label :begin_date %> </br>
<%= f.date_field :begin_date %>
</p>
<p>
<%= f.label :end_date %> </br>
<%= f.date_field :end_date %>
</p>
<p>
<%= f.label :status %> </br>
<%= f.text_field :status %>
</p>
<p>
<%= f.label :observation %> </br>
<%= f.text_field :observation %>
</p>
<p>
<%= f.label :budget_for_order_id %> </br>
<%= f.collection_select(:budget_for_order_id, BudgetForOrder.all, :id , :id)  %>
</p>
<p>
<%= f.label :customer_id %> </br>
<%= f.collection_select(:customer_id, Customer.all, :id , :name)  %>
</p>
<p>
<%= f.submit "Enviar" %>
</p>