<div class="container-fluid">
<div class="enter">

<div class="boton_redirect">&larr;
  <%= link_to 'Volver a la lista de muebles', furniture_index_path%>
</div><br>
<ul>
<%
@furniture.errors.full_messages.each do |m|

%>
<li> <%= m %></li>
<% end %>
</ul>
<p>
	<%= e.label :Descripción %>
	<%= e.text_field :description, class:"form-control" %>
</p>
<p>
	<%= e.label :Costo %>
	<%= e.text_field :cost , class:"form-control"%>
	<!--%= e.number_field :cost, :class => 'text_field',
	:step => 0.5 %-->
<p>
<p>

	<%= e.label :ganancia %>
	<%= e.number_field :profit, :class => 'text_field', :step => 0.5 , class: "form-control" %>
	<p>
<%= e.label "IVA" %> </br>
<%= e.select :iva,options_for_select([[5],[10]]), class: "form-control"  %>
</p>

<p>
<%= e.submit "Enviar", class: 'btn btn-primary form-control' %>
</p>
</div>
</div>
