<div class="container-fluid">
	<h1 align="center">Salarios</h1>
	<div class="boton_redirect">&larr;
	<%= link_to 'Volver a la lista de personal', employee_index_path%>
</div><br>
<div class="boton_redirect">
	<%= link_to 'Ir a Asistencia', hours_history_index_path%> &rarr;
</div><br>
<div class="boton_redirect">
	<%= link_to 'Ir a pago al personal', employee_payment_index_path%> &rarr;
</div><br>
<table class="table table-hover">
	  <thead class="thead-dark">
	<tr><TH>ID</TH>
		<TH>Personal</TH>
		<TH>Bonificación por hora</TH>
		<TH>Acumulado</TH>
		<TH>Horas trabajadas</TH>
		<TH>Horas extras</TH>
		<TH colspan="3"></TH></tr>
</thead>
	<tbody>
	<% @salaries.each do |f| %>

	<tr><TD><%= f.id %></TD>
		<TD><%= f.employee.lastname %>, <%= f.employee.name %> </TD>
		<TD><%= f.charge_for_hours %></TD>
		<TD><%= f.accumulated %></TD>
		<TD><%= f.total_hours%></TD>
		<TD><%= f.total_extra_hours %></TD>

		<TD><%= link_to 'Abonar Salario', employee_payment_add_s_path(f['id']), class:"btn btn-link" %></TD>
		<TD><%= link_to 'Editar', salary_edit_path(f['id']) , class:"btn btn-link" %></TD>
	</tr>
    <% end %>
    </tbody>

</table>
